[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ben/Desktop/lfs-temp-tools-r11.1-414.tar.xz]
row=4
col=0

[/home/ben/Desktop/streaming.desktop]
row=1
col=0

[/home/ben/Desktop/SwgClient_r.exe]
row=3
col=0

[/home/ben/Desktop/Ziva]
row=2
col=0

[Trash]
row=8
col=17

[/home/ben]
row=0
col=0

