[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=wm-switch
Comment=sudo /usr/local/bin/wm-switch.sh
Exec=sudo /usr/local/bin/wm-swtch.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

